/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */

/* miama font */
@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */

/* default styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body {
    background-color: black;
}

/* header styles */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(119 119 119 / 50%) 50%, rgb(0, 0, 0));
    padding-top: 45px;
}

/* shared styles */
.container {
    width: 85%;
    /* border: 2px solid green; */
    margin: 0 auto;
}
.display-none {
    display: none;
}
.primary-btn {
    text-decoration: none !important;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 12px 25px;
}
.dark-1 {
    color: rgba(255, 255, 255, 0.5);
}
.des {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;

}
.bmi-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
}
/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    /* margin-top:45px; */
}
.brand {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
.menu {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 20px 5px;
}
.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
}
.menu-links li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: 400;
}
.menu-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
}
#home-link {}
.bars {
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
}

/* hero styles */
.hero {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.hero-left {
    width: 50%;
}
.hero-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.87rem;
    font-weight: 900;
    margin-bottom: 28px;
    line-height: 120%;
}
#shape {
    font-family: 'Miama', sans-serif;
    font-size: 9.87rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 0%;
}
.hero-description {
    margin-bottom: 35px;
}
#download-btn {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: transparent;
    /* padding: 12px 25px; */
    margin-left: 14px;
}
.hero-right {
    background-image: url("../images/hero.png");
    width: 50%;
    height: 595px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.video {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
}
.video-count {
    /* margin-bottom: 339px; */
    position: absolute;
    top: 130px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-count h3 {
    font-size: 2.5rem;
    font-weight: 900;
}
.video-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 445px;
    left: 25px;
}
.fa-circle,
.fa-circle-play {
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
}
.fa-circle-play,
.fa-play {
    /* background-color: white; */
    display: none;
}
.video-tutorial h3 {
    font-size: 1.5rem;
    font-weight: 900;
}
.video-des {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
}

/* plans style here */
.plans {
    margin-bottom: 100px;
}
.plans-text-container {
    text-align: center;
    margin-bottom: 50px;
}
.plans-title {
    font-size: 3rem;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}
.plans-des {}

.plans-container {
    color: white;
    display: flex;
    justify-content: space-between;
}
.plan-card {
    background-color: rgba(13, 13, 13, 1);
    background: rgb(34, 34, 34);
    padding: 30px;
    border: 1px solid rgb(230, 83, 60);
    border-radius: 16px;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.plan-name {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 15px;
    text-align: center;
}
.plan-price {
    color: rgb(230, 83, 60);
    font-size: 3rem;
    font-family: Inter;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-bottom: 30px;
}
small {
    font-weight: 600;
}
.plan-offers-container {
    margin-bottom: 50px;
}
.plan-offers {
    line-height: 35px;
}
.fa-check {
    padding-right: 10px;
}
.plan-card-2 {
    background-color: rgb(230, 83, 60);
}
.plan-name-2,
.plan-price-2,
.plan-offers-2 {
    color: rgb(255, 255, 255);
}
.get-started {
    display: inline-block;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}
.get-started-2 {
    background-color: rgb(255, 255, 255);
    color: rgb(230, 83, 60);
}

/* habit styles */
.habit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.habit-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 35px;
}
.habit-title {
    font-size: 3rem;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}
.habit-des {
    margin-bottom: 20px;
}
.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 35px;
}
.habit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.habit-card img {
    border-radius: 50%;
}
.habit-card-title {
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.habit-card-des {}

/* run styles */
.run {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    padding: 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
}
.run-left {
    width: 40%;
    /* padding-left: 30px; */
    /* padding-top: 30px; */
}
.run-title {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 15px;
}
.run-des {
    margin-bottom: 32px;
}
.join-now {
    padding: 12px 50px;
}
.run-right {
    width: 435px;
    /* padding-right: 30px; */
    /* padding-top: 30px; */
}
.run-right .img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}
.run-right .img-container img {
    width: 100%;
    border-radius: 15px;
    height: 300px;
    object-fit: cover;
    object-position: -74px 33px;
    scale: 2.7;
}
/* bmi-calc styles */
.bmi-calc {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.bmi-calc-container {
    width: 59%;
}
.bmi-calc-title {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 15px;
}

.bmi-calc-des {}

/* bmi styles */
.bmi {
    /* background-color: rgba(255, 255, 255, 0.7); */
    margin-bottom: 90px;
    background-color: rgb(34, 34, 34);
}
.bmi-container {
    display: flex;
    justify-content: space-between;
    padding: 52px 0;
}
.bmi-left {}
.chart-title {
    margin-bottom: 60px;
}
.bmi-chart-container {}

table,
td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
td,
th {
    padding: 10px 0;
    padding-left: 15px;
}
td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: .875rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
table {
    color: gray;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 350px;
    height: 200px;
    text-align: left;
    /* padding: 10px 24px; */
    border-collapse: collapse;
    /* padding-left: 23px; */
}
.bmi-chart tr {
    width: 100px;
}
.table-heading {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.bmi-right {
    width: 53%;
}
.bmi-right-title {
    margin-bottom: 15px;
}
.bmi-right-des {
    margin-bottom: 30px;
}
.bmi-form {
    /* margin-bottom: 30px; */
}
.bmi-form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.activity {
    grid-column: 1/3;
}
input,
select {
    height: 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    cursor: pointer;
    padding-left: 10px;
    font-size: 1rem;
}
select {
    color: rgba(255, 255, 255, .6);
}
input {
    color: rgba(255, 255, 255, .6);
}
option {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgb(35 35 35 / 80%);
    /* background-color: rgba(255, 255, 255, 0.1); */
}
::placeholder {
    font-family: Inter;
    font-size: 1rem;
    /* font-weight: 400; */
    /* line-height: 22px; */
    color: rgba(255, 255, 255, .6);
}
input:focus,
select:focus {
    outline: none;
}
input.primary-btn {
    padding: 0;
    width: 181px;
    border: none;
    height: 46px;
    cursor: pointer;
    margin-top: 25px;
}
.calculate {}

/* team styles */
.team {
    margin-bottom: 90px;
}
.team-text-container {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.team-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 900;
    line-height: 120%;
}
.team-des {
    margin-bottom: 58px;
}
.team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 18px;
    background-color: rgba(34, 34, 34);
    border-radius: 15px;
    gap: 15px;
}
.team-member {
    position: relative;

}
.team-member .img-container {
    width: 100%;
}
.team-member .img-container img {
    border-radius: 18px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.team-member-details {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 25px;
}
.team-member-name {
    font-size: 1.125rem;
    color: white;
    line-height: 120%;
}
.team-member-name-mobile {
    display: none;
}
.team-member-post {
    color: rgba(255, 255, 255, 0.5);
}

/* footer styles */
footer {
    /* background-color: gray; */
    background: rgba(255, 255, 255, 0.1);
}
.footer-content {
    display: flex;
    padding-top: 60px;
    gap: 217px;
    margin-bottom: 80px;
}
.footer-left {
    width: 40%;
}
.footer-brand {
    color: rgb(230, 83, 60);
    font-size: 3.8rem;
    margin-bottom: 20px;
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 4.375rem;
    font-weight: 800;
    line-height: 120%;
    /* text-align: left; */
}
.footer-brand-des {
    /* color: white;
    font-size: 1rem; */
}
.footer-right {
    display: flex;
    justify-content: space-between;
    gap: 199px;
}
.get-started-container {}

.get-started-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 39px;
}
.get-started-list {}

.get-started-list li {
    list-style: none;
}
.get-started-list li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.43rem;
    font-weight: 400;
    line-height: 145%;
}
hr {
    /* color: white; */
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}
.copy-rights {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 35px 0;
}

/* -------------Responsive Section---------- */

/* mobile responsive */
@media only screen and (min-width:425px) and (max-width:576px) {

    .container {
        width: 95%;
    }

    /* navbar responsive */
    .menu {
        display: none;
    }
    .bars {
        display: block;
    }

    /* hero responsive */
    .hero {
        flex-direction: column;
        align-items: start;
        margin-bottom: 60px;
    }
    .hero-left {
        width: 100%;
    }
    .hero-title {
        font-size: 3rem;
    }
    #shape {
        font-size: 6rem;
    }
    .hero-description {
        font-size: 1rem !important;
    }
    .primary-btn {
        font-size: 1rem;
        padding: 12px 38px;
    }
    #download-btn {}
    .hero-right {
        width: 100%;
        margin-top: 50px;
    }
    .video {
        padding: 12px 25px;
        width: 130px;
        height: 60px;
    }
    .video-count {

        top: 38px;
        right: 4px;
    }
    .video-tutorial {
        top: 263px;
    }
    .fa-circle {
        display: none;
    }
    .fa-play {
        display: inline-block;
        border: 1px solid rgb(230, 83, 60);
        padding: 10px 12px;
        border-radius: 50%;
        background-color: rgb(230, 83, 60);
        /* font-size: 17px; */
    }
    .video-des {
        font-size: 0.76rem;
    }


    /* plans responsive */
    .plans {
        margin-bottom: 60px;
    }
    .plans-title {
        font-size: 2rem;
    }
    .plans-text-container {
        margin-bottom: 30px;
    }
    .plans-container {
        flex-direction: column;
        gap: 30px;
    }
    .plan-offers {
        line-height: 30px;
    }
    .plan-card {
        /* margin-bottom: 30px; */
        width: auto;
    }
    .get-started {
        padding: 12px 0;
    }

    /* habit responsive */
    .habit {
        margin-bottom: 60px;
    }
    .habit-br{
        display:none;
    }
    .habit-text-container {
        width: 85%;
    }
    .habit-title {
        font-size: 2rem;
    }
    .des {
        font-size: .81rem;
    }
    .habit-cards {
        grid-template-columns: repeat(1, 1fr);
        width: 65%;
    }

    /* run responsive */
    .run {
        flex-direction: column;
        height: auto;
        padding: 0;
        margin-bottom: 60px;
    }
    .run-left {
        width: auto;
        padding: 25px;
    }
    .run-title {
        font-size: 2rem;
    }
    .run-right {
        width: auto;
        padding: 25px;
    }
    .run-right .img-container img {
        object-position: -23px 24px;
        scale: 1.568;
        height: auto;
    }
    .join-now {
        width: 100%;
        display: inline-block;
        padding: 12px 0px;
        text-align: center;
    }

    /* bmi-calc responsive */
    .bmi-calc {
        margin-bottom: 35px;
    }
    .bmi-calc-container {
        width: 100%;
    }
    .bmi-calc-title {
        font-size: 2rem;
    }
    .bmi {
        margin-bottom: 60px;
    }
    .bmi-container {
        flex-direction: column;
    }
    .bmi-title {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .bmi-left {
        margin-bottom: 35px;
    }
    table {
        width: 300px;
    }
    .bmi-right {
        width: auto;
    }
    .bmi-form-content {
        width: 100%;
    }
    input,
    select {
        font-size: .7rem;
    }
    ::placeholder {
        font-size: .7rem;
    }
    input.primary-btn {
        margin-top: 20px;
        width: 120%;
    }

    /* team responsive */
    .team {
        margin-bottom: 60px;
    }
    .team-title {
        font-size: 2rem;
    }
    .team-des {
        margin-bottom: 0;
    }
    .team-text-container {
        width: 95%;
    }
    .team-member-1 {
        display: none;
    }
    .team-member-4 {
        display: none;
    }
    .team-member-5 {
        grid-row: 2/3;
    }
    .team-members {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-member-name-desk {
        display: none;
    }
    .team-member-name-mobile {
        display: block;
    }

    /* footer responsive */
    .footer-content {
        flex-direction: column;
        gap: 30px;
    }
    .footer-left {
        width: 95%;
    }
    .footer-brand-des {
        font-size: .81rem;
    }
    .footer-right {
        flex-direction: column;
        gap: 30px;
    }
    .get-started-list li a {
        line-height: 185%;
    }

}

/* mobile responsive 2 */
@media only screen and (max-width:425px) {

    .container {
        width: 95%;
    }

    /* navbar responsive */
    .menu {
        display: none;
    }
    .bars {
        display: block;
    }

    /* hero responsive */
    .hero {
        flex-direction: column;
        align-items: start;
        margin-bottom: 0px;
    }
    .hero-left {
        width: 100%;
    }
    .hero-title {
        font-size: 3rem;
    }
    #shape {
        font-size: 6rem;
    }
    .hero-description {}

    .primary-btn {
        font-size: .81rem;
        padding: 12px 22px;
    }
    #download-btn {}

    .hero-right {
        width: 100%;
        margin-top: 50px;
    }
    .video {
        padding: 12px 25px;
        width: 130px;
        height: 60px;
    }
    .video-count {

        top: 38px;
        right: 4px;
    }
    .video-tutorial {
        top: 263px;
    }
    .fa-circle {
        display: none;
    }
    .fa-play {
        display: inline-block;
        border: 1px solid rgb(230, 83, 60);
        padding: 10px 12px;
        border-radius: 50%;
        background-color: rgb(230, 83, 60);
        /* font-size: 17px; */
    }
    .video-des {
        font-size: 0.76rem;
    }
    /* plans responsive */
    .plans {
        margin-bottom: 60px;
    }
    .plans-text-container {
        margin-bottom: 30px;
    }
    .plans-title {
        font-size: 2rem;
    }
    .plans-container {
        flex-direction: column;
        gap: 30px;
    }
    .plan-card {
        /* margin-bottom: 30px; */
        width: auto;
    }
    .plan-offers {
        line-height: 30px;
    }
    .get-started {
        padding: 12px 0;
    }

    /* habit responsive */
    .habit {
        margin-bottom: 60px;
    }
    .habit-br{
        display: none;
    }
    .habit-text-container {
        width: 85%;
    }
    .habit-title {
        font-size: 2rem;
    }
    .des {
        font-size: .81rem;
    }
    .habit-cards {
        grid-template-columns: repeat(1, 1fr);
        width: 65%;
    }

    /* run responsive */
    .run {
        flex-direction: column;
        height: auto;
        padding: 0;
        margin-bottom: 60px;
    }
    .run-left {
        width: auto;
        padding: 25px;
    }
    .run-title {
        font-size: 2rem;
    }
    .run-right {
        width: auto;
        padding: 25px;
    }
    .run-right .img-container img {
        object-position: -23px 24px;
        scale: 1.568;
        height: auto;
    }
    .join-now {
        width: 100%;
        display: inline-block;
        padding: 12px 0px;
        text-align: center;
    }

    /* bmi-calc responsive */
    .bmi {
        margin-bottom: 60px;
    }
    .bmi-calc {
        margin-bottom: 35px;
    }
    .bmi-calc-container {
        width: 100%;
    }
    .bmi-calc-title {
        font-size: 2rem;
    }
    .bmi-calc-des {
        font-size: .81rem;
    }

    /* bmi responsive */
    .bmi-container {
        flex-direction: column;
    }
    .bmi-title {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .bmi-left {
        margin-bottom: 35px;
    }
    table {
        width: 300px;
    }
    .bmi-right {
        width: auto;
    }
    .bmi-form-content {
        width: 100%;
    }
    input,
    select {
        font-size: .6rem;
    }
    ::placeholder {
        font-size: .6rem;
    }
    input.primary-btn {
        margin-top: 20px;
        width: 120%;
    }
    /* team responsive */
    .team {
        margin-bottom: 60px;
    }
    .team-title {
        font-size: 2rem;
    }
    .team-des {
        margin-bottom: 0;
    }
    .team-text-container {
        width: 95%;
    }
    .team-member-1 {
        display: none;
    }
    .team-member-4 {
        display: none;
    }
    .team-member-5 {
        grid-row: 2/3;
    }
    .team-members {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-member-name-desk {
        display: none;
    }
    .team-member-name-mobile {
        display: block;
    }

    /* footer responsive */
    .footer-content {
        flex-direction: column;
        gap: 30px;
    }
    .footer-left {
        width: 95%;
    }
    .footer-brand-des {
        font-size: .81rem;
    }
    .footer-right {
        flex-direction: column;
        gap: 30px;
    }
    .get-started-list li a {
        line-height: 185%;
    }
    .copy-rights {
        font-size: 1rem;
    }

}


/* desktop responsive */

/* hero section desktop responsive */
@media only screen and (min-width:992px) and (max-width:1106px) {
    .hero-title {
        font-size: 3.87rem;
    }
    #shape {
        font-size: 8.87rem;
    }
}

/* run section desktop responsive */
@media only screen and (min-width:992px) and (max-width:1040px) {
    .run-right .img-container img {
        height: 347px;
        object-position: -118px 33px;
    }
}

@media only screen and (min-width:1041px) and (max-width:1315px) {
    .run-right .img-container img {
        height: 325px;
        object-position: -95px 33px;
        
    }
}