/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */

/* miama font */
@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */

/* default styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: black;
}

/* header styles */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    padding-top: 45px;
}

/* shared styles */
.container {
    width: 85%;
    /* border: 2px solid green; */
    margin: 0 auto;
}

.display-none {
    display: none;
}

.primary-btn {
    text-decoration: none !important;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 12px 25px;
}

/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    /* margin-top:45px; */
}

.brand {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.menu {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 20px 5px;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;

}

.menu-links li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: 400;
}

.menu-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
}


#home-link {}

.bars {
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
}

/* hero styles */
.hero {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 100px;
}

.hero-left {
    width: 50%;
}

.hero-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.87rem;
    font-weight: 900;
}

#shape {
    font-family: 'Miama', sans-serif;
    font-size: 4.87rem;
    font-weight: 400;
}

.hero-description {
    margin-bottom: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

#download-btn {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 11px 25px;
    margin-left: 14px;
}

.hero-right {
    background-image: url("../images/hero.png");
    width: 50%;
    height: 595px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.video {
    color: white;
    padding: 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 50px;
}

.video-count {
    /* margin-bottom: 339px; */
    position: absolute;
    top: 130px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-count h3 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.video-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 445px;
    left: 25px;
}

.fa-circle {
    font-size: 2.5rem;
    color: rgb(230, 83, 60);
}

.video-tutorial h3 {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}

.video-des {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
}

/* habit styles */
.habit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.habit-text-container {
    width: 55%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 35px;
}

.habit-title {
    color: white;
    font-size: 3rem;
    margin-bottom: 15px;
}

.habit-des {
    color: white;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.habit-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 35px;
}

.habit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.habit-card img {
    border-radius: 50%;
}

.habit-card-title {
    color: white;
    font-size: 1rem;
}

.habit-card-des {
    color: white;
}

/* run styles */
.run {
    display: flex;
    /* gap: 99px; */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 30px;
    justify-content: space-between;
    height: 285px;
    margin-bottom: 90px;
}

.run-left {
    width: 40%;
}

.run-title {
    color: white;
    font-size: 3.87rem;
}

.run-des {
    margin-bottom: 30px;
    color: white;
    font-size: 1.125rem;
}

.run-title {}

.run-des {}

.run-right {
    width: 435px;
}

.run-right .img-container {
    width: 100%;
}

.run-right .img-container img {
    width: 100%;
    border-radius: 15px;

}

/* bmi-calc styles */
.bmi-calc {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.bmi-calc-container {
    width: 60%;
}

.bmi-calc-title {
    font-size: 3.8rem;
    color: white;
}

.bmi-calc-des {
    color: white;
    font-size: 1.125rem;
}

/* bmi styles */
.bmi {
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 90px;
}

.bmi-container {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.bmi-left {}

.chart-title {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.bmi-chart-container {}

.bmi-chart {
    color: gray;
    border: 1px solid white;
    width: 350px;
    height: 180px;
    text-align: left;
    /* padding: 10px 20px; */
}

.bmi-chart tr {
    width: 100px;
    padding: 10px 15px;
}

.table-heading {
    color: white;

}

.bmi-right {
    width: 53%;
}

.bmi-right-title {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.bmi-right-des {
    color: white;
    font-size: 1.125rem;
    margin-bottom: 30px;
}

.bmi-form {
    margin-bottom: 30px;
    color: black;
}

.gender {
    width: 340px;
}

.activity {
    width: 100%;
}

input,
select {
    width: 326px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    /* margin-right: 10px; */
}

input.primary-btn {
    padding: 0;
    width: 135px;
    border: none;
    height: 46px;
    cursor: pointer;
}

/* team styles */
.team {
    margin-bottom:90px;
}

.team-text-container {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.team-title {
    color: white;
    font-size: 3.8rem;
    margin-bottom: 20px;
}

.team-des {
    color: white;
    font-size: 1.125rem;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:15px;
    gap:15px;
}
.team-member {
    position:relative;
}

.team-member .img-container {
    width:100%;
}

.team-member .img-container img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.team-member-details {
    color: white;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

.team-member-name {
    font-size: 1rem;
}

.team-member-post {
    font-size: 1rem;
}

/* footer styles */
footer{
    background-color: gray;
}
.footer-content {
    display: flex;
    padding: 50px 0;
    gap: 250px;
}
.footer-left{
    width:40%;
}
.footer-brand{
    color: rgb(230, 83, 60);
    font-size:3.8rem;
    margin-bottom:30px;
}
.footer-brand-des{
    color:white;
    font-size:1rem;
}
.footer-right {
    display: flex;
    justify-content: space-between;
    gap: 199px;
}
.get-started-container{

}
.get-started-title{
    color:white;
    font-size:1.8rem;
    margin-bottom:30px;
}

.get-started-list{}
.get-started-list li{
    list-style:none;
}
.get-started-list li a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    line-height: 32px;
}
hr{
    color:white;
}
.copy-rights{
    font-size:1rem;
    color:white;
    text-align:center;
    padding:30px 0;
}
/* responsive */
@media only screen and (max-width:576px) {

    .container {
        width: 95%;
    }

    /* navbar responsive */
    .menu {
        display: none;
    }

    .bars {
        display: block;
    }

    /* hero responsive */
    .hero {
        flex-direction: column;
        align-items: start;
    }

    .hero-left {
        width: 100%;
    }

    .hero-title {
        color: rgb(255, 255, 255);
        font-size: 1.87rem;
        font-weight: 900;
    }

    #shape {
        font-size: 1.87rem;
        font-weight: 400;
    }

    .hero-description {}

    #download-btn {}

    .hero-right {
        width: 100%;
        margin-top: 50px;
    }

    .video {
        padding: 12px 25px;
        width: 130px;
        height: 60px;
    }

    .video-count {

        top: 38px;
        right: 4px;
    }

    .video-tutorial {
        top: 263px;
    }

    /* habit responsive */
    .habit-text-container {
        width: 85%;
    }
    .habit-title {
        font-size: 2rem;
    }
    .habit-des{
        
    }
    .habit-cards {
        grid-template-columns: repeat(1, 1fr);
        width: 65%;
    }

    /* run responsive */
    .run {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .run-left {
        width: auto;
        padding: 25px;
    }

    .run-title {
        font-size: 2.8rem;
    }

    .run-des {
        font-size: 1rem;
    }

    .run-right {
        width: auto;
        padding: 25px;
    }

    .join-now {}

    /* bmi-calc responsive */
    .bmi-calc-container {
        width: 100%;
    }

    .bmi-calc-title {
        font-size: 2.8rem;
    }

    .bmi-calc-des {
        font-size: 1rem;
    }

    /* bmi responsive */
    .bmi-container {
        flex-direction: column;
    }

    .bmi-left {
        margin-bottom: 35px;
    }

    .bmi-right {
        width: auto;
    }

    input,
    select {
        width: 186px;
    }

    .gender {
        width: 200px;
    }

    /* team responsive */
    .team-text-container {
        width: 95%;
    }
    .team-title{
        font-size:2.8rem;
    }
    .team-des{

    }
    .team-members {
        grid-template-columns: repeat(1,1fr);
    }

    /* footer responsive */
    .footer-content{
        flex-direction: column;
        gap:30px;
    }
    .footer-left{
        width:95%;
    }
    .footer-brand-des{
        font-size:1.125rem;
    }
    .footer-right{
        flex-direction:column;
        gap:30px;
    }
   
}